.navbar {
  height: 58px;
  border-bottom: 0.5px solid rgb(230, 227, 227);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  background-color: #007f66;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      color: white;
      padding: 3px;
      cursor: pointer;

      input {
        border: none;
        outline: none;
        height: 20px;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;

        .avtar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 5px;
        }
      }
    }
  }
}
